body {
    background-color: #000;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
  }
  
  .logo {
    font-size: 18px;
    font-weight: bold;
  }
  
  .home-btn {
    border: 1px solid #fff;
    background: none;
    color: white;
    padding: 6px 14px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .login-box {
    margin-top: 60px;
  }
  
  input {
    width: 250px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
    border: none;
    display: block;
  }
  
  button[type="submit"] {
    padding: 10px 25px;
    border-radius: 15px;
    border: 1px solid white;
    background: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .forgot-link {
    display: block;
    margin-top: 10px;
    color: #00f;
    text-decoration: none;
  }
  